---
---

/*------------------------------------------------------------------------------
  SASS setup
------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------
  Colors
------------------------------------------------------------------------------*/

$white:        #FFFFFF;
$dark_green:   #243829;
$bright_green: #28A646;
$header_bg:    $dark_green;

/*------------------------------------------------------------------------------
  Dimensions
------------------------------------------------------------------------------*/

$content_width:   796px;
$content_padding:  16px;

$medium-screen-width: $content_width + 2 * $content_padding;
$small-screen-width:  480px;

/*------------------------------------------------------------------------------
  Fonts
------------------------------------------------------------------------------*/

$title_font: "Asap", Helvetica, Arial, sans-serif;
$content_font: "Merriweather", serif;

/*------------------------------------------------------------------------------
  Placeholder selectors
------------------------------------------------------------------------------*/

%noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*------------------------------------------------------------------------------
  Imports
------------------------------------------------------------------------------*/

@import "normalize";
@import "content";
@import "navigation";
@import "syntax";
