---
---

/*------------------------------------------------------------------------------
  Begin SASS setup
------------------------------------------------------------------------------*/

$white:        #FFFFFF;
$dark_green:   #243829;
$bright_green: #28A646;
$header_bg:    $dark_green;

$content_width:   724px;
$content_padding:  16px;

$sans_serif_font: "Asap", Helvetica, Arial, sans-serif;
$serif_font: "Crimson Text", serif;

/*------------------------------------------------------------------------------
  End SASS setup
------------------------------------------------------------------------------*/

* {
  padding: 0;
  margin: 0;
  transition: 0.3s;
  -webkit-print-color-adjust: exact;
}

%noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

p, pre, blockquote, ul, ol {
  margin:1em 0;
}

li {
  margin-left:6%;
}

.header-container {
  top: 0;
  left: 0;
  right: 0;
  color: $white;
  background-color: $header_bg;
  padding: 8px;
}

header {
  @extend %noselect;

  max-width: $content_width;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

body {
  border-top: 4px solid $bright_green;
  font-family: $serif_font;
  font-size: 20px;
  color: $dark_green;
  line-height: 1.4;
}

p {
  font-weight: 400;
}

strong {
  font-weight: 700;
}

ul {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}

a {
  @extend %noselect;

  &:link, &:visited, &:hover, &:active {
    color: $bright_green;
    text-decoration: none;
  }

  &:hover {
    color: $dark_green;
  }
}

.title-style {
  font-family: $sans_serif_font;
  display: inline;
  font-size: 32px;
}

.metadata {
  color: #999;
}

.footnotes {

}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 0.5em;
  color: $bright_green;
}

.nav {
  font-size: 18px;
  font-family: $sans_serif_font;
  text-transform: uppercase;
  color: $white;

  li {
    margin: 0 0 0 32px;
    display: inline;
  }

  a {
    &:link, &:visited, &:hover, &:active {
      color: $bright_green;
      text-decoration: none;
    }

    &:hover {
      color: $white;
    }
  }
} 

/* Medium and small screens */
@media all and (max-width: $content_width + 2 * $content_padding) {
  header {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  ul.nav li {
    display: inline;
    margin: 0 16px;
    text-align: center;
  }
}

.container {
  margin: 0 auto 2em auto;
  max-width: $content_width;
  padding: 0 $content_padding;
}

#disqus_thread {
  margin-top: 2em;
}

.disqus-comment {
  color: $bright_green;
}

.separator {
  display:inline-block;
  min-width: 25px;
  text-align: center;
}

/*------------------------------------------------------------------------------
  Post Styles
------------------------------------------------------------------------------*/

h2 {
  font-family: $sans_serif_font;
  margin: 1.5em 0 -0.5em 0;
  font-size: 32px;
  font-weight: normal;  
}

h3 {
  @extend h2;
  font-size: 22px;
}

blockquote {
  margin: 1.0em 0;
  padding: 0 0 0 15px;
  border-left: 2px solid #AAAAAA;
  font-style: italic;
}

blockquote p {
  margin: 12px 0;
  color: #999999;
}

img {
  max-width: 80%;
}

/*------------------------------------------------------------------------------
  Syntax highlighting
------------------------------------------------------------------------------*/

.highlight  { background: #ffffff; }
.highlight .c { color: #999988; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { font-weight: bold } /* Keyword */
.highlight .o { font-weight: bold } /* Operator */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .kp { font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: #d14 } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sb { color: #d14 } /* Literal.String.Backtick */
.highlight .sc { color: #d14 } /* Literal.String.Char */
.highlight .sd { color: #d14 } /* Literal.String.Doc */
.highlight .s2 { color: #d14 } /* Literal.String.Double */
.highlight .se { color: #d14 } /* Literal.String.Escape */
.highlight .sh { color: #d14 } /* Literal.String.Heredoc */
.highlight .si { color: #d14 } /* Literal.String.Interpol */
.highlight .sx { color: #d14 } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: #d14 } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */

.highlight .lineno {
  color: #BBB;
  display: inline-block;
  padding: 0 5px;
  border-right: 1px solid #DDD;
}

.highlight pre code {
  font: 15px Menlo, Monaco, Consolas, "Courier New", monospace;
  display: block;
  white-space: pre;
  overflow-x: auto;
  word-wrap: normal;
  background: #F9F9F9;
  padding: 8px;
  border: 1px solid #DDD;
}

@media print {
  .highlight pre code {
    white-space: pre-wrap;
  }
}