* {
  padding:0;
  margin:0;
}

p, pre, blockquote, ul, ol { margin:1em 0; }
li, dd { margin-left:5%; }

body {
  font-family: "Lato", Arial, sans-serif;
  font-size: 17px;
  line-height: 1.4;
  color: #263329;
  border-top: 6px solid #263329;
}

a {
  color: #263329;
  text-decoration: none;
}

a:visited { color: #263329; }
a:hover { color: #263329; text-decoration: underline; }
a:active { color: #263329; }

.header-container {
  top: 0;
  left: 0;
  right: 0;
  background-color: #A3D9B0;
}

header {
  max-width: 864px;
  margin: 0 auto;
  padding: 12px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#title-style {
  display: inline;
  font-size: 32px;
}

ul.nav {
  margin: 0;
  display: inline;
}

ul.nav li {
  margin: 0 0 0 32px;
  display: inline;
  list-style: none;
  text-transform: uppercase;
  text-align: center;
}

/* Medium screens */
@media all and (max-width: 800px) {
  header {
    padding: 12px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  ul.nav li {
    display: inline;
    margin: 0 16px 0 16px;
  }
}

/* Small screens */
@media all and (max-width: 500px) {
  header {
    padding: 12px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  ul.nav li {
    display: block;
    margin: 12px 0 0 0;
  }
}

.container {
  margin: 0 auto;
  max-width: 864px;
}

/*------------------------------------------------------------------------------
  Post Styles
------------------------------------------------------------------------------*/

h2 {
  margin: 2.0em 0 -0.5em 0;
  font-size: 26px;
  font-weight: normal;  
}

blockquote {
  margin: 1.0em 0;
  padding: 0 0 0 15px;
  font-size: 16px;
  border-left: 2px solid #aaa;
}

blockquote p {
  margin: 12px 0;
  color: #999;
}

img {
  max-width: 100%;
}
