---
layout: default
title: Posts

---

{% for post in paginator.posts %}
  <h1>
    {{ post.title }}
  </h1>
  {% include post_metadata.html date=post.date tags=post.tags %}
  <div class="primary-content">
    <p>{{ post.excerpt }}</p>
  </div>

  {% capture total_post_length %}
    {{ post.content | number_of_words }}
  {% endcapture %}
  {% capture post_excerpt_length %}
    {{ post.excerpt | number_of_words }}
  {% endcapture %}

  {% if post_excerpt_length != total_post_length %}
    <a href="{{ post.url }}" class="btn">Continue Reading</a>
  {% endif %}
  <hr />
{% endfor %}

<footer>
  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" style="flex-grow: 1">&#9664; &nbsp; Older Posts</a>
    {% endif %}

    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" style="flex-grow: 1; text-align: right">Newer Posts &nbsp; &#9658;</a>
    {% endif %}
  </div>
  {% endif %}
</footer>