<div class="full-width-title-container">
  <div class="content-width-title-container">
    <div class="title">Stuart Kent</div><div class="subtitle">on Android</div>
  </div>
</div>
<div class="full-width-navigation-container">
  <div class="content-width-navigation-container">
    <div class="primary-navigation">
      {% for navigation_entry in site.data.navigation %}
      <entry>
      {% if page.title == navigation_entry.title %}
      {{ navigation_entry.title }}
      {% else %}
        {% if navigation_entry.openInNewTab %}
        <a href="{{ navigation_entry.url }}" target="_blank" rel="noopener noreferrer">{{ navigation_entry.title }}</a>
        {% else %}
        <a href="{{ navigation_entry.url }}">{{ navigation_entry.title }}</a>
        {% endif %}
      {% endif %}
      </entry>
      {% endfor %}
    </div>
  </div>
</div>