/*------------------------------------------------------------------------------
  SASS variables
------------------------------------------------------------------------------*/

$content-line-height-multiple: 1.7;
$vertical-block-separation: 36px;

/*------------------------------------------------------------------------------
  Common
------------------------------------------------------------------------------*/

html {
  overflow-y: scroll;
}

body {
  border-top: 4px solid $bright_green;
  font-family: $content_font;
  font-weight: 300;
  font-size: 18px;
  color: $dark_green;
}

main {
  margin: $vertical-block-separation auto 48px auto;
  max-width: $content_width;
  padding: 0 $content_padding;
}

p, pre, blockquote, ul, ol {
  margin-bottom: 12px;
  line-height: $content-line-height-multiple;
}

li {
  margin-left: 6%;
}

h2 {
  margin: 0 0 16px 0;
  font-size: 36px;
  font-family: $title_font;
  font-weight: normal;
}

h3 {
  @extend h2;
  font-size: 24px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: #EFEFEF 1px solid;
  margin: $vertical-block-separation 16px;
  padding: 0;
}

blockquote {
  margin: 36px 0;
  padding: 0 0 0 16px;
  border-left: 2px solid #AAAAAA;
}

blockquote p {
  margin: 12px 0;
  color: #999999;
}

img {
  max-width: 75%;
}

a {
  @extend %noselect;

  transition: 0.3s;

  &:link, &:visited, &:hover, &:active {
    color: $bright_green;
    text-decoration: none;
  }

  &:hover {
    color: $dark_green;
  }
}

/*------------------------------------------------------------------------------
  Post content
------------------------------------------------------------------------------*/

article p, pre, blockquote, ul, ol {
  margin-top: $vertical-block-separation;
}

.metadata {
  color: #AAAAAA;
  font-family: $title_font;
  line-height: $content-line-height-multiple;
}

.separator {
  display: inline-block;
  min-width: 25px;
  text-align: center;
}

/*------------------------------------------------------------------------------
  Internal post navigation
------------------------------------------------------------------------------*/

.footnote {

}

.footnotes {

}
