/*------------------------------------------------------------------------------
  SASS variables
------------------------------------------------------------------------------*/

$content-line-height-multiple: 1.7;
$vertical-block-separation: 24px;
$horizontal-divider-color: #DDDDDD;
$horizontal-divider-height: 1px;

/*------------------------------------------------------------------------------
  Common
------------------------------------------------------------------------------*/

html {
  overflow-y: scroll;
  font-family: "Roboto", sans-serif;
}

body {
  border-top: 4px solid $bright_green;
  font-weight: 300;
  font-size: 18px;
  color: $dark_green;
}

main {
  margin: 1.5*$vertical-block-separation auto;
  max-width: $content_width;
  padding: 0 $content_padding;

  a {
    @extend %noselect;

    &:link, &:visited, &:hover, &:active {
      color: $bright_green;
      text-decoration: none;
      font-weight: 400;
    }

    &:hover {
      color: $dark_green;
    }
  }
}

p, pre, blockquote, ul, ol, img {
  margin: $vertical-block-separation/2 0;
  line-height: $content-line-height-multiple;
}

li {
  margin-left: 6%;
}

h1 {
  margin: 1.5*$vertical-block-separation 0 0.25*$vertical-block-separation 0;
  font-size: 36px;
  font-weight: 400;
}

h2 {
  margin: 1.25*$vertical-block-separation 0 0.25*$vertical-block-separation 0;
  @extend h1;
  font-size: 24px;
}

hr {
  display: block;
  height: $horizontal-divider-height;
  border: 0;
  border-top: $horizontal-divider-color 1px solid;
  margin: 1.75*$vertical-block-separation 0 1.5*$vertical-block-separation 0;
  padding: 0;
}

blockquote {
  font-style: italic;
  margin: $vertical-block-separation 16px;
  padding: 16px;
  border-left: 4px solid $bright_green;
  background: #F7F7F7;
}

blockquote p {
  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

img {
  max-width: 95%;
}

a {
    transition: 0.3s;
}

table {
  border-collapse: collapse;
  border-style: hidden;
  margin-left:auto;
  margin-right:auto;
}

table td, table th {
  min-width: 48px;
  padding: 4px 12px;
  border: 1px solid black;
}

/*------------------------------------------------------------------------------
  Post content
------------------------------------------------------------------------------*/

article {
  & p, & pre, & ul, & ol, & img {
    margin-bottom: $vertical-block-separation;
  }
}

article p, article pre, article ul, article ol, article img {
  margin-top: $vertical-block-separation;
}

.metadata {
  color: #AAAAAA;
  line-height: $content-line-height-multiple;
  margin-bottom: $vertical-block-separation;
}

.separator {
  display: inline-block;
  min-width: 25px;
  text-align: center;
}

a.btn {
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  background: $bright_green;
  display: inline-block;
  padding: 8px 16px;
  text-decoration: none;

  &:link, &:visited, &:hover, &:active {
    color: $white;
  }

  &:hover {
    background: $dark_green;
    text-decoration: none;
  }
}

.image-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  align-content: flex-start;
  margin: $vertical-block-separation 0;
}

/*------------------------------------------------------------------------------
  Internal post navigation
------------------------------------------------------------------------------*/

.footnote {

}

.footnotes {
  margin: $vertical-block-separation 0;
  border-top: $horizontal-divider-color $horizontal-divider-height solid;
}

/*------------------------------------------------------------------------------
  Disqus
------------------------------------------------------------------------------*/

#disqus_thread {
  margin: 2.5*$vertical-block-separation 0 $vertical-block-separation 0;
}
