/*------------------------------------------------------------------------------
  SASS variables
------------------------------------------------------------------------------*/

$standard_nav_item_margin: 24px;

/*------------------------------------------------------------------------------
  Main site navigation
------------------------------------------------------------------------------*/

.full-width-navigation-container {
  top: 0;
  left: 0;
  right: 0;
  background-color: $header_bg;
  padding: $standard_nav_item_margin;
}

.page-title {
  display: inline;
  font-size: 36px;
  font-weight: 300;
}

.content-width-navigation-container {
  @extend %noselect;

  font-weight: 400;
  color: $white;

  max-width: $content_width;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav {
  font-size: 18px;
  text-transform: uppercase;
  color: $white;
  margin: 0;

  li {
    margin: 0 0 0 $standard_nav_item_margin;
    display: inline;
  }

  a {
    &:link, &:visited, &:hover, &:active {
      color: $bright_green;
      text-decoration: none;
    }

    &:hover {
      color: $white;
    }
  }
}

/* Medium screens */
@media all
and (max-width: $medium_screen_width)
and (min-width: $small_screen_width) {

  .content-width-navigation-container {
    flex-direction: column;
  }

  nav {
    margin: $standard_nav_item_margin 0 0 0;

    li {
      margin: 0 16px;
      text-align: center;
    }
  }
}

/* Small screens */
@media all
and (max-width: $small_screen_width) {

  .content-width-navigation-container {
    flex-direction: column;
  }

  nav {
    margin: 0;

    li {
      display: block;
      margin: $standard_nav_item_margin 0 0 0;
      text-align: center;
    }
  }
}

/*------------------------------------------------------------------------------
  Pagination navigation
------------------------------------------------------------------------------*/

.pagination {
  display: flex;
  text-transform: uppercase;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 0.5em;
  color: $bright_green;
}
